<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IfcDoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <IfcDoc.Properties.Settings>
            <setting name="OutputPath" serializeAs="String">
                <value>C:\IFC</value>
            </setting>
            <setting name="CodePath" serializeAs="String">
                <value>C:\IFC_CODE</value>
            </setting>
            <setting name="CodeLanguage" serializeAs="String">
                <value>C#</value>
            </setting>
            <setting name="ValidateFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="ValidateReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputPathGeneral" serializeAs="String">
                <value>C:\IFCDOC\figures</value>
            </setting>
            <setting name="InputPathExamples" serializeAs="String">
                <value>C:\IFCDOC\examples</value>
            </setting>
            <setting name="SkipDiagrams" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConverterPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Username" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
        </IfcDoc.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
