
body {
	font-family: Verdana, Arial, sans-serif;
	font-size: medium;
}

body.image {
	background-color: #ececec;
	color: black;
	margin: 0px;
}

body.white {
	background-color: #ffffff;
	color: black;
}


div {
	margin: 0px;
}

div.credits {
	position: absolute;
	bottom: 9px;
	left: 6px;
}

div.content {
	margin: 0px;
	width: 99%;
}

div.cover {
	background-color: #ffffff;
	color: black;
	position: absolute;
	top: 18px;
	width: 99%;
	text-align: center;
}

div.copyright {
	background-color: #ffffff;	
	color: black;
	position: relative;
	margin-top: 24px;
	margin-bottom: 24px;
	width: 99%;	
}

div.scope {
	background-color: #ffffff;
	counter-reset: index1 1;
}

div.ref {
	background-color: #ffffff;
	counter-reset: index1 2;
}

div.terms {
	background-color: #ffffff;
	counter-reset: index1 3;
}

div.reqs {
	background-color: #ffffff;
	counter-reset: index1 4;
}

div.core {
	background-color: #ffffff;
	counter-reset: index1 5;
}

div.shared {
	background-color: #ffffff;
	counter-reset: index1 6;
}

div.domain {
	background-color: #ffffff;
	counter-reset: index1 7;
}

div.resource {
	background-color: #ffffff;
	counter-reset: index1 8;
}

div.annex {
	background-color: #ffffff;
	counter-reset: index1 item fig;	
}

div.menu {
  	margin-top: 14px;
	margin-left: 0px;
}

div.not-numbered {
	background-color: #ffffff;
}

h1 {
	background-color: #ffffff;
  	font-size: large;
  	text-align: left;
  	margin-top: 14px;
  	margin-bottom: 14px;
}

h1.std {
  color: blue;
}

h1.num {
  color: blue;
  counter-reset: index2 item;

}

h1.num:before {
  content: counter(index1) "  ";
  white-space: pre;
}

h1.alpha {
  text-align: center;
  color: blue;
  counter-reset: index2  item;
}

h1.alpha:before {
  content: counter(index1, upper-alpha) "  ";
  white-space: pre;
}

h1.annex {
  text-align: center;
  color: blue;
}

h2 {
  	font-size: medium;
  	text-align: left;
  	margin-top: 20px;
  	margin-bottom: 0px;
}

h2.std {
  color: blue;
}

h2.num {
  color: blue;
  counter-reset: index3 item;
}

h2.num:before {
  content: counter(index1) "." counter(index2) "   ";
  counter-increment: index2;
  white-space: pre;
}

h2.annex {
  color: blue;
}

h3 {
  	font-size: small;
  	text-align: left;
  	margin-top: 16px;
  	margin-bottom: 0px;
}

h3.std {
  color: blue;
}

h3.num {
  color: blue;
  counter-reset: index4 item;
}

h3.num:before {
  content: counter(index1) "." counter(index2) "." counter(index3) "   ";
  counter-increment: index3;
  white-space: pre;
}

h3.annex {
  color: blue;
}

h4 {
  	font-size: small;
  	text-align: left;
  	font-style: normal;
  	margin-top: 14px;
  	margin-bottom: 0px;
}

h4.std {
  color: blue;
}

h4.num {
  color: blue;
  counter-reset: index5 item;
}

h4.num:before {
  content: counter(index1) "." counter(index2) "." counter(index3) "." counter(index4) "   ";
  counter-increment: index4;
  white-space: pre;
}

h5 {
  	font-size: small;
  	text-align: left;
  	font-style: normal;
  	margin-top: 12px;
  	margin-bottom: 0px;
}

h5.std {
  color: blue;
}

h5.num {
  color: blue;
}

h5.num:before {
  content: counter(index1) "." counter(index2) "." counter(index3) "." counter(index4) "." counter(index5) "   ";
  counter-increment: index5;
  white-space: pre;
}

/* styles for paragraphs */

p {
	font-size: small;
	margin-top: 6px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-bottom: 0px;
}

p.big {
	font-size: larger;
}

p.center {
	font-size: small;
	text-align: center;
}

p.narrow {
	font-size: small;
	margin-top: 3px;
	margin-bottom: 0px;
}

p.outstanding {
	font-weight: bolder;
	font-size: larger;
}

p.right {
	text-align: right;
}

p.small {
	font-size: x-small;
	margin-top: 6px;
	margin-bottom: 0px;
}

p.std {
	font-size: small;
	margin-top: 6px;
	margin-bottom: 0px;
}

p.spec-head {
	font-size: small;
	margin-top: 18px;
	margin-bottom: 6px;
  	color: blue;
	text-decoration: underline;
}

p.td {
	font-size: small;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 0px;
	padding-left: 4px;
	padding-right: 2px;
	padding-bottom: 0px;
}

p.top {
	padding-top: 6px;
}

p.top-center {
	padding-top: 6px;
	text-align: center;
}

p.use-head {
	margin-top: 18px;
	margin-bottom: 6px;
   font-weight: bold;
  	color: blue;
}

p.figure {
	font-size: x-small;
   font-weight: bold;
	text-align: center;
	margin-top: 2px;
}

p.table {
	font-size: x-small;
   font-weight: bold;
	text-align: center;
	margin-top: 2px;
}

tt.std tt.spf{
	font-size: medium;
	white-space: pre;
}

span.express {
	font-family: consolas, monospace;
	font-size: small;
}

span.xsd {
	font-family: consolas, monospace;
	font-size: small;
}

span.keyword {
	font-family: consolas, monospace;
	font-size: small;
	font-weight: bold;
}

span.comment {
	font-family: helvetica, sans-serif;
	font-size: small;
	color: green;
}

span.attr-name {
	font-weight: bold;
}

span.menu {
	font-size: x-small;
}

span.self-ref {
	color: #606060;
}


/* styles for hyperlinks */

a:link {
	color: #336699;
	text-decoration: none;
}

a:visited {
	color: #3399ff;
	text-decoration: none;
}

a.int-ref {
	font-weight: normal;
}

a.ext-ref {
	font-weight: normal;
}

a.ext-ref:before {
	content: url(img/external.png);
	border: 0px;
	margin-right: 2px;
}

a.listing-link {
	font-size: inherit;
}

a.listing-link:link {
	color: #336699;
	text-decoration: none;
}

a.listing-link:visited {
	color: #3399ff;
	text-decoration: none;
}

a.listing-link-abstract {
	font-size: inherit;
	font-style: italic;
}

a.listing-link-abstract:link {
	color: #336699;
	text-decoration: none;
}

a.listing-link-abstract:visited {
	color: #3399ff;
	text-decoration: none;
}

blockquote {
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 0px; 
	padding-top: 2px;
	padding-bottom: 0px;
  	padding-left: 20px;
}

blockquote.std {
	font-size: small;
}

blockquote.note {
  font-size: x-small;
}

blockquote.example {
  font-size: x-small;
}

blockquote.extDef {
	font-size: x-small;
	color: #404040;
}

blockquote.history {
	margin-top: 10px;
  	color: #0000ff;
  	font-size: x-small;
}

blockquote.deprecated {
  color: #ff0000;
  font-size: x-small;
}

blockquote.change-ifc2x {
  color: #ff0000;
  font-size: x-small;
}

blockquote.change-ifc2x2 {
  color: #ff0000;
  font-size: x-small;
}

blockquote.change-ifc2x3 {
  color: #ff0000;
  font-size: x-small;
}

blockquote.change-ifc2x4 {
  color: #ff0000;
  font-size: x-small;
}

ol {
}

ol.std {
	margin-top: 6px;
	margin-bottom: 0px;
	margin-left: 2px; 
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 12px;
}

ol.td {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 6px; 
	padding-top: 0px;
	padding-bottom: 0px;
  	padding-left: 16px;
}

ol.none {
	list-style-type: none;
}

ol.num {
	list-style-type: decimal;  
}

ol.alpha {
	list-style-type: upper-alpha;  
}

ol.roman {
	list-style-type: lower-roman;  
}

ol.note {
	list-style-type: none;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 0px; 
  	padding-left: 0px;
}

ul {
  margin-left: 0px; 
  padding-left: 20px;
  margin-top: 6px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  list-style-type: square; 
}

ul.std {
  list-style-type: square; 
}

ul.ref {
  list-style-type: square; 
}

ul.inner {
  list-style-type: circle; 
  margin-top: 0px;
}

li {
  	font-size: small;
	margin-top: 4px;
	padding-top: 1px;
  	margin-bottom: 2px;
	padding-bottom: 0px;
}

li li {
	margin-top: 2px;
	padding-top: 0px;
}

ol.td li {
	margin-top: 2px;
	padding-top: 0px;
}

li.std {

}

li.index {

}

li.bold {
	font-weight: bold;
}

li.small {
	font-size: x-small;
}

li.note {
	font-size: 70%;
  	margin-bottom: 2px;
  	padding-bottom: 0px;
	margin-top: 2px;
	padding-top: 0px;
}

/* do not use CSS2.1 definitions here
li.note:before {
	content: "NOTE " counter(item) " ";
	counter-increment: item;
}
*/

dl {
}

dl.std {
}

dt {
	font-size: small;
}

dt.std {
  	margin-bottom: 0px;
  	padding-bottom: 0px;
}

dd {
	font-size: small;
}

dd.std{
  	margin-bottom: 0.5em;
  	padding-bottom: 0em;
}

/* table styles */

table {
}

table.std {
	border-collapse: collapse;
	table-layout: fixed;
	border: 0;
}

table.centric {
	margin-left: auto;
	margin-right: auto;
}

table.content {
	table-layout: fixed;
	width: 100%;
}

table.abbrev {
	border: 0;
}

table.menu {
	table-layout: auto;
	margin-left: 3px;
	border: 0;
	width: 100%;
}

table.inherit {
	table-layout: fixed;
	width: 800px;
	margin-left:  0px;
	padding: 5px;
	border: thin solid blue;
}

col {
}

col.inherit {
	width: 30px;
}

col.last {
	width: 529px;
}

col.type-listing {
	width: 390px;
}

col.type-middle {
	width: 19px;
}

tr {
}

tr.std {
	vertical-align: top;
}

tr.inherit {	
	font-size: small;
	vertical-align: top;
}

tr.inherit-shadow {	
	font-size: small;
	vertical-align: top;
	background-color: #eeeeff;
}

td {
	font-size: small;
	text-align: left;
	vertical-align: top;
}

td.std {
	padding-left: 0px;
	padding-right: 2px;
	padding-top: 0px;
	padding-bottom: 4px;
}

td.border {
	border-width: 1px;
	border-color: #808080;
	border-style: solid;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.content {
	border-width: 2px;
	border-style: solid;
	border-color: #CACACA;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
}

td.menu {
	font-size: 70%;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 1px;
	padding-bottom: 1px;		
}

td.example {
	font-size: x-small;
}

td.head {
	font-weight: bold;
}

td.bold {
	font-weight: bold;
}

td.italic {
	font-weight: lighter;
	font-style: italic;
}

td.center {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
	padding-bottom: 4px;
	text-align: center;
}

td.right {
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 4px;
	text-align: right;
}

td.inherit {
	font-size: x-small;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;	
	margin: 0px;
}


th {
	font-size: small;
	font-weight: bold;
	vertical-align: top;
}


table.gridtable {
	font-family: verdana,arial,sans-serif;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}


table.gridtable th {
	border-width: 1px;
	font-size: x-small;
	text-align: left;
	padding: 4px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}


table.gridtable td {
	border-width: 1px;
	font-size: x-small;
	padding: 4px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}


table.exchange {
	font-family: verdana,arial,sans-serif;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}


table.exchange th {
	border-width: 1px;
	font-size: x-small;
	text-align: left;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}


table.exchange td {
	border-width: 1px;
	font-size: x-small;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
